# 第二章 索引

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('data/table.csv',index_col='ID')
df.head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

# 一、单级索引

## 1.1 loc方法、iloc方法、[]操作符
最常用的索引方法可能就是这三类，其中iloc表示位置索引，loc表示标签索引，[]也具有很大的便利性，各有特点

### 1.1.1 loc方法

#### 1.1.1.1 单行索引

In [2]:
df.shape

(35, 8)

In [3]:
df.loc[1103]

School          S_1
Class           C_1
Gender            M
Address    street_2
Height          186
Weight           82
Math           87.2
Physics          B+
Name: 1103, dtype: object

#### 1.1.1.2 多行索引

In [4]:
df.loc[[1102,2304]]

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+
2304    S_2   C_3      F  street_6     164      81  95.5      A-

（注意：所有在loc中使用的切片全部包含右端点！这是因为如果作为Pandas的使用者，那么肯定不太关心最后一个标签再往后一位是什么，但是如果是左闭右开，那么就很麻烦，先要知道再后面一列的名字是什么，非常不方便，因此Pandas中将loc设计为左右全闭）

In [5]:
df.loc[1304:2103].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1304    S_1   C_3      M  street_2     195      70  85.2       A
1305    S_1   C_3      F  street_5     187      69  61.7      B-
2101    S_2   C_1      M  street_7     174      84  83.3       C
2102    S_2   C_1      F  street_6     161      61  50.6      B+
2103    S_2   C_1      M  street_4     157      61  52.5      B-

In [6]:
df.loc[2402::-1].head() # [start:end:step]

     School Class Gender   Address  Height  Weight  Math Physics
ID
2402    S_2   C_4      M  street_7     166      82  48.7       B
2401    S_2   C_4      F  street_2     192      62  45.3       A
2305    S_2   C_3      M  street_4     187      73  48.9       B
2304    S_2   C_3      F  street_6     164      81  95.5      A-
2303    S_2   C_3      F  street_7     190      99  65.9       C

#### 1.1.1.3 单列索引

In [7]:
df.loc[:,'Height'].head()

ID
1101    173
1102    192
1103    186
1104    167
1105    159
Name: Height, dtype: int64

#### 1.1.1.4 多列索引

In [8]:
df.loc[:,['Height','Math']].head()

      Height  Math
ID
1101     173  34.0
1102     192  32.5
1103     186  87.2
1104     167  80.4
1105     159  84.8

In [9]:
df.loc[:,'Height':'Math'].head()

      Height  Weight  Math
ID
1101     173      63  34.0
1102     192      73  32.5
1103     186      82  87.2
1104     167      81  80.4
1105     159      64  84.8

#### 1.1.1.5 联合索引

In [10]:
df.loc[1102:2401:3,'Height':'Math'].head() # [start:end:step]

      Height  Weight  Math
ID
1102     192      73  32.5
1105     159      64  84.8
1203     160      53  58.8
1301     161      68  31.5
1304     195      70  85.2

#### 1.1.1.6 函数式索引

In [11]:
df.loc[lambda x:x['Gender']=='M'].head()
#loc中使用的函数，传入参数就是前面的df

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1201    S_1   C_2      M  street_5     188      68  97.0      A-
1203    S_1   C_2      M  street_6     160      53  58.8      A+
1301    S_1   C_3      M  street_4     161      68  31.5      B+

In [12]:
#这里的例子表示，loc中能够传入函数，并且函数的输入值是整张表，输出为标量、切片、合法列表（元素出现在索引中）、合法索引
def f(x):
    return [1101,1103]
df.loc[f]

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1103    S_1   C_1      M  street_2     186      82  87.2      B+

#### 1.1.1.7 布尔索引（将重点在第2节介绍）

In [13]:
df.loc[df['Address'].isin(['street_7','street_4'])].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1105    S_1   C_1      F  street_4     159      64  84.8      B+
1202    S_1   C_2      F  street_4     176      94  63.5      B-
1301    S_1   C_3      M  street_4     161      68  31.5      B+
1303    S_1   C_3      M  street_7     188      82  49.7       B
2101    S_2   C_1      M  street_7     174      84  83.3       C

In [14]:
df.loc[[True if i[-1]=='4' or i[-1]=='7' else False for i in df['Address'].values]].head() # 列表推导式

     School Class Gender   Address  Height  Weight  Math Physics
ID
1105    S_1   C_1      F  street_4     159      64  84.8      B+
1202    S_1   C_2      F  street_4     176      94  63.5      B-
1301    S_1   C_3      M  street_4     161      68  31.5      B+
1303    S_1   C_3      M  street_7     188      82  49.7       B
2101    S_2   C_1      M  street_7     174      84  83.3       C

In [ ]:
小节：本质上说，loc中能传入的只有布尔列表和索引子集构成的列表，只要把握这个原则就很容易理解上面那些操作

### 1.1.2 iloc方法（注意与loc不同，切片右端点不包含，索引从0开始）

#### 1.1.2.1 单行索引

In [15]:
df.iloc[3]  # 索引从0开始

School          S_1
Class           C_1
Gender            F
Address    street_2
Height          167
Weight           81
Math           80.4
Physics          B-
Name: 1104, dtype: object

#### 1.1.2.2 多行索引

In [16]:
df.iloc[3:5]

     School Class Gender   Address  Height  Weight  Math Physics
ID
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

#### 1.1.2.3 单列索引

In [17]:
df.iloc[:,3].head() # 索引从0开始

ID
1101    street_1
1102    street_2
1103    street_2
1104    street_2
1105    street_4
Name: Address, dtype: object

#### 1.1.2.4 多列索引

In [18]:
df.iloc[:,7::-2].head()

     Physics  Weight   Address Class
ID
1101      A+      63  street_1   C_1
1102      B+      73  street_2   C_1
1103      B+      82  street_2   C_1
1104      B-      81  street_2   C_1
1105      B+      64  street_4   C_1

#### 1.1.2.5 混合索引

In [19]:
df.iloc[3::4,7::-2].head()

     Physics  Weight   Address Class
ID
1104      B-      81  street_2   C_1
1203      A+      53  street_6   C_2
1302      A-      57  street_1   C_3
2101       C      84  street_7   C_1
2105       A      81  street_4   C_1

#### 1.1.2.6 函数式索引

In [20]:
df.iloc[lambda x:[3]].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1104    S_1   C_1      F  street_2     167      81  80.4      B-

小节：iloc中接收的参数只能为整数或整数列表或布尔列表，不能使用布尔Series，如果要用就必须如下把values拿出来

### 1.1.3 []操作符
#### 1.1.3.1 Series的[]操作
##### 1.1.3.1.1 单元素索引

In [21]:
s = pd.Series(df['Math'],index=df.index)
s[1101]
# 使用的是索引标签

34.0

##### 1.1.3.1.2 多行索引

In [22]:
s[0:4]
# 使用的是绝对位置的整数切片，与元素无关，这里容易混淆

ID
1101    34.0
1102    32.5
1103    87.2
1104    80.4
Name: Math, dtype: float64

##### 1.1.3.1.3 函数式索引

In [23]:
s[lambda x: x.index[16::-6]]
# 注意使用lambda函数时，直接切片(如：s[lambda x: 16::-6])就报错，此时使用的不是绝对位置切片，而是元素切片，非常易错

ID
2102    50.6
1301    31.5
1105    84.8
Name: Math, dtype: float64

##### 1.1.3.1.4 布尔索引

In [24]:
s[s>80]

ID
1103    87.2
1104    80.4
1105    84.8
1201    97.0
1302    87.7
1304    85.2
2101    83.3
2205    85.4
2304    95.5
Name: Math, dtype: float64

** 【注意】如果不想陷入困境，请不要在行索引为浮点时使用[]操作符，因为在Series中[]的浮点切片并不是进行位置比较，而是值比较，非常特殊 **

In [25]:
s_int = pd.Series([1,2,3,4],index=[1,3,5,6])
s_float = pd.Series([1,2,3,4],index=[1.,3.,5.,6.])
s_int

1    1
3    2
5    3
6    4
dtype: int64

In [26]:
s_int[2:]

5    3
6    4
dtype: int64

In [27]:
s_float

1.0    1
3.0    2
5.0    3
6.0    4
dtype: int64

In [28]:
# 注意和s_int[2:]结果不一样了，因为2这里是元素而不是位置
s_float[2:]

3.0    2
5.0    3
6.0    4
dtype: int64

#### 1.1.3.2 DataFrame的[]操作
##### 1.1.3.2.1 单行索引

In [29]:
df[1:2]
# 这里非常容易写成df['label']，会报错
# 同Series使用了绝对位置切片
# 如果想要获得某一个元素，可用如下get_loc方法：

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+

In [30]:
row = df.index.get_loc(1102)
df[row:row+1]

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+

##### 1.1.3.2.2 多行索引

In [31]:
#用切片，如果是选取指定的某几行，推荐使用loc，否则很可能报错
df[3:5]

     School Class Gender   Address  Height  Weight  Math Physics
ID
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

##### 1.1.3.2.3 单列索引

In [32]:
df['School'].head()

ID
1101    S_1
1102    S_1
1103    S_1
1104    S_1
1105    S_1
Name: School, dtype: object

##### 1.1.3.2.4 多列索引

In [33]:
df[['School','Math']].head()

     School  Math
ID
1101    S_1  34.0
1102    S_1  32.5
1103    S_1  87.2
1104    S_1  80.4
1105    S_1  84.8

##### 1.1.3.2.5 函数式索引

In [34]:
df[lambda x:['Math','Physics']].head()

      Math Physics
ID
1101  34.0      A+
1102  32.5      B+
1103  87.2      B+
1104  80.4      B-
1105  84.8      B+

##### 1.1.3.2.6 布尔索引

In [35]:
df[df['Gender']=='F'].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+
1202    S_1   C_2      F  street_4     176      94  63.5      B-
1204    S_1   C_2      F  street_5     162      63  33.8       B

** 小节：一般来说，[]操作符常用于列选择或布尔选择，尽量避免行的选择 **

## 1.2 布尔索引
### 1.2.1 布尔符号：'&','|','~'：分别代表和and，或or，取反not

In [36]:
df[(df['Gender']=='F')&(df['Address']=='street_2')].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
2401    S_2   C_4      F  street_2     192      62  45.3       A
2404    S_2   C_4      F  street_2     160      84  67.7       B

In [37]:
df[(df['Math']>85)|(df['Address']=='street_7')].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1201    S_1   C_2      M  street_5     188      68  97.0      A-
1302    S_1   C_3      F  street_1     175      57  87.7      A-
1303    S_1   C_3      M  street_7     188      82  49.7       B
1304    S_1   C_3      M  street_2     195      70  85.2       A

In [38]:
df[~((df['Math']>75)|(df['Address']=='street_1'))].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1202    S_1   C_2      F  street_4     176      94  63.5      B-
1203    S_1   C_2      M  street_6     160      53  58.8      A+
1204    S_1   C_2      F  street_5     162      63  33.8       B
1205    S_1   C_2      F  street_6     167      63  68.4      B-

#### loc和[]中相应位置都能使用布尔列表选择：

In [39]:
df.loc[df['Math']>60,df.columns=='Physics'].head()
#思考：为什么df.loc[df['Math']>60,(df[:8]['Address']=='street_6').values].head()得到和上述结果一样？values能去掉吗？

     Physics
ID
1103      B+
1104      B-
1105      B+
1201      A-
1202      B-

In [41]:
df[:8]['Address']=='street_6'

ID
1101    False
1102    False
1103    False
1104    False
1105    False
1201    False
1202    False
1203     True
Name: Address, dtype: bool

### 1.2.2 isin方法

In [42]:
df[df['Address'].isin(['street_1','street_4'])&df['Physics'].isin(['A','A+'])]

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
2105    S_2   C_1      M  street_4     170      81  34.2       A
2203    S_2   C_2      M  street_4     155      91  73.8      A+

In [43]:
# 上面也可以用字典方式写：
df[df[['Address','Physics']].isin({'Address':['street_1','street_4'],'Physics':['A','A+']}).all(1)]
# all与&的思路是类似的，其中的1代表按照跨列方向判断是否全为True

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
2105    S_2   C_1      M  street_4     170      81  34.2       A
2203    S_2   C_2      M  street_4     155      91  73.8      A+

## 1.3. 快速标量索引
当只需要取一个元素时，at和iat方法能够提供更快的实现：

In [44]:
display(df.at[1101,'School'])
display(df.loc[1101,'School'])
display(df.iat[0,0])
display(df.iloc[0,0])
#可尝试去掉注释对比时间
%timeit df.at[1101,'School']
%timeit df.loc[1101,'School']
%timeit df.iat[0,0]
%timeit df.iloc[0,0]

'S_1'

'S_1'

'S_1'

'S_1'

4.37 µs ± 326 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
7.05 µs ± 425 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
4.39 µs ± 86.3 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)
7.04 µs ± 402 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

## 1.4 区间索引

此处介绍并不是说只能在单级索引中使用区间索引，只是作为一种特殊类型的索引方式，在此处先行介绍

### 1.4.1 利用interval_range方法

In [45]:
pd.interval_range(start=0,end=5)
# closed参数可选'left''right''both''neither'，默认左开右闭

IntervalIndex([(0, 1], (1, 2], (2, 3], (3, 4], (4, 5]],
              closed='right',
              dtype='interval[int64]')

In [46]:
pd.interval_range(start=0,periods=8,freq=5)
#periods参数控制区间个数，freq控制步长

IntervalIndex([(0, 5], (5, 10], (10, 15], (15, 20], (20, 25], (25, 30], (30, 35], (35, 40]],
              closed='right',
              dtype='interval[int64]')

### 1.4.2 利用cut将数值列转为区间为元素的分类变量，例如统计数学成绩的区间情况

In [47]:
math_interval = pd.cut(df['Math'],bins=[0,40,60,80,100])
#注意，如果没有类型转换，此时并不是区间类型，而是category类型
math_interval.head()

ID
1101      (0, 40]
1102      (0, 40]
1103    (80, 100]
1104    (80, 100]
1105    (80, 100]
Name: Math, dtype: category
Categories (4, interval[int64]): [(0, 40] < (40, 60] < (60, 80] < (80, 100]]

### 1.4.3 区间索引的选取

In [48]:
df_i = df.join(math_interval,rsuffix='_interval')[['Math','Math_interval']]\
            .reset_index().set_index('Math_interval')
# rsuffix：添加后缀
df_i.head()

                 ID  Math
Math_interval
(0, 40]        1101  34.0
(0, 40]        1102  32.5
(80, 100]      1103  87.2
(80, 100]      1104  80.4
(80, 100]      1105  84.8

In [49]:
df_i.loc[[65,90]].head()

                 ID  Math
Math_interval
(60, 80]       1202  63.5
(60, 80]       1205  68.4
(60, 80]       1305  61.7
(60, 80]       2104  72.2
(60, 80]       2202  68.5

#### 如果想要选取某个区间，先要把分类变量转为区间变量，再使用overlap方法：

In [50]:
#df_i.loc[pd.Interval(70,75)].head() 报错
df_i[df_i.index.astype('interval').overlaps(pd.Interval(70, 85))].head()
# overlap：重叠
#只要索引与(70,85]这个区间有交集就会被选中，注意pd.Interval默认构造区间都是左开右闭，可选closed参数right,left,both,neither

                 ID  Math
Math_interval
(80, 100]      1103  87.2
(80, 100]      1104  80.4
(80, 100]      1105  84.8
(80, 100]      1201  97.0
(60, 80]       1202  63.5

# 二、多级索引
## 2.1 创建多级索引
### 2.1.1 通过from_tuple或from_arrays
#### 2.1.1.1 直接创建元组

In [51]:
tuples = [('A','a'),('A','b'),('B','a'),('B','b')] # 元组
mul_index = pd.MultiIndex.from_tuples(tuples, names=('Upper', 'Lower'))
mul_index

MultiIndex([('A', 'a'),
            ('A', 'b'),
            ('B', 'a'),
            ('B', 'b')],
           names=['Upper', 'Lower'])

In [52]:
pd.DataFrame({'Score':['perfect','good','fair','bad']}, index=mul_index)

               Score
Upper Lower
A     a      perfect
      b         good
B     a         fair
      b          bad

#### 2.1.1.2 利用zip创建元组

In [53]:
L1 = list('AABB')
L2 = list('abab')
tuples = list(zip(L1,L2))
mul_index = pd.MultiIndex.from_tuples(tuples, names=('Upper', 'Lower'))
pd.DataFrame({'Score':['perfect','good','fair','bad']},index=mul_index)

               Score
Upper Lower
A     a      perfect
      b         good
B     a         fair
      b          bad

#### 2.1.1.3 通过Array创建

In [54]:
arrays = [['A','a'],['A','b'],['B','a'],['B','b']]
mul_index = pd.MultiIndex.from_tuples(arrays, names=('Upper', 'Lower'))
pd.DataFrame({'Score':['perfect','good','fair','bad']},index=mul_index)

               Score
Upper Lower
A     a      perfect
      b         good
B     a         fair
      b          bad

In [55]:
mul_index
#由此看出内部自动转成元组

MultiIndex([('A', 'a'),
            ('A', 'b'),
            ('B', 'a'),
            ('B', 'b')],
           names=['Upper', 'Lower'])

### 2.1.2 通过from_product

In [56]:
L1 = ['A','B']
L2 = ['a','b']
pd.MultiIndex.from_product([L1,L2],names=('Upper', 'Lower'))
#两两相乘

MultiIndex([('A', 'a'),
            ('A', 'b'),
            ('B', 'a'),
            ('B', 'b')],
           names=['Upper', 'Lower'])

### 2.1.3 指定df中的列创建（set_index方法）

In [57]:
df_using_mul = df.set_index(['Class','Address'])
df_using_mul.head()

               School Gender  Height  Weight  Math Physics
Class Address
C_1   street_1    S_1      M     173      63  34.0      A+
      street_2    S_1      F     192      73  32.5      B+
      street_2    S_1      M     186      82  87.2      B+
      street_2    S_1      F     167      81  80.4      B-
      street_4    S_1      F     159      64  84.8      B+

## 2.2 多层索引切片

In [58]:
df_using_mul.head()

               School Gender  Height  Weight  Math Physics
Class Address
C_1   street_1    S_1      M     173      63  34.0      A+
      street_2    S_1      F     192      73  32.5      B+
      street_2    S_1      M     186      82  87.2      B+
      street_2    S_1      F     167      81  80.4      B-
      street_4    S_1      F     159      64  84.8      B+

#### 2.2.1 一般切片

In [60]:
#df_using_mul.loc['C_2','street_5']
#当索引不排序时，单个索引会报出性能警告
#df_using_mul.index.is_lexsorted()
#该函数检查是否排序
df_using_mul.sort_index().loc['C_2','street_5']
# df_using_mul.sort_index().index.is_lexsorted()

True

In [61]:
#df_using_mul.loc[('C_2','street_5'):] 报错
#当不排序时，不能使用多层切片
df_using_mul.sort_index().loc[('C_2','street_6'):('C_3','street_4')]
#注意此处由于使用了loc，因此仍然包含右端点

               School Gender  Height  Weight  Math Physics
Class Address
C_2   street_6    S_1      M     160      53  58.8      A+
      street_6    S_1      F     167      63  68.4      B-
      street_7    S_2      F     194      77  68.5      B+
      street_7    S_2      F     183      76  85.4       B
C_3   street_1    S_1      F     175      57  87.7      A-
      street_2    S_1      M     195      70  85.2       A
      street_4    S_1      M     161      68  31.5      B+
      street_4    S_2      F     157      78  72.3      B+
      street_4    S_2      M     187      73  48.9       B

In [62]:
df_using_mul.sort_index().loc[('C_2','street_7'):'C_3'].head()
#非元组也是合法的，表示选中该层所有元素

               School Gender  Height  Weight  Math Physics
Class Address
C_2   street_7    S_2      F     194      77  68.5      B+
      street_7    S_2      F     183      76  85.4       B
C_3   street_1    S_1      F     175      57  87.7      A-
      street_2    S_1      M     195      70  85.2       A
      street_4    S_1      M     161      68  31.5      B+

### 2.2.2 第一类特殊情况：由元组构成列表

In [63]:
df_using_mul.sort_index().loc[[('C_2','street_7'),('C_3','street_2')]]
#表示选出某几个元素，精确到最内层索引

               School Gender  Height  Weight  Math Physics
Class Address
C_2   street_7    S_2      F     194      77  68.5      B+
      street_7    S_2      F     183      76  85.4       B
C_3   street_2    S_1      M     195      70  85.2       A

### 2.2.3 第二类特殊情况：由列表构成元组

In [64]:
df_using_mul.sort_index().loc[(['C_2','C_3'],['street_4','street_7']),:]
#选出第一层在‘C_2’和'C_3'中且第二层在'street_4'和'street_7'中的行

               School Gender  Height  Weight  Math Physics
Class Address
C_2   street_4    S_1      F     176      94  63.5      B-
      street_4    S_2      M     155      91  73.8      A+
      street_7    S_2      F     194      77  68.5      B+
      street_7    S_2      F     183      76  85.4       B
C_3   street_4    S_1      M     161      68  31.5      B+
      street_4    S_2      F     157      78  72.3      B+
      street_4    S_2      M     187      73  48.9       B
      street_7    S_1      M     188      82  49.7       B
      street_7    S_2      F     190      99  65.9       C

## 2.3 多层索引中的slice对象
slice：薄片

In [65]:
L1,L2 = ['A','B'],['a','b','c']
mul_index1 = pd.MultiIndex.from_product([L1,L2],names=('Upper', 'Lower'))
L3,L4 = ['D','E','F'],['d','e','f']
mul_index2 = pd.MultiIndex.from_product([L3,L4],names=('Big', 'Small'))
df_s = pd.DataFrame(np.random.rand(6,9),index=mul_index1,columns=mul_index2)
df_s

Big                 D                             E                      \
Small               d         e         f         d         e         f
Upper Lower
A     a      0.481615  0.066337  0.612521  0.496806  0.170635  0.313922
      b      0.423103  0.766020  0.874904  0.777403  0.467491  0.122896
      c      0.976692  0.992853  0.679045  0.993711  0.768666  0.241913
B     a      0.668110  0.747240  0.006313  0.851428  0.769350  0.864411
      b      0.333440  0.391835  0.682967  0.312125  0.968533  0.827066
      c      0.201805  0.081384  0.438649  0.616895  0.509728  0.683276

Big                 F
Small               d         e         f
Upper Lower
A     a      0.123945  0.521471  0.224466
      b      0.688875  0.142464  0.019028
      c      0.130953  0.897912  0.182568
B     a      0.678638  0.058836  0.315499
      b      0.462304  0.084384  0.859964
      c      0.303746  0.611885  0.498872

In [66]:
idx=pd.IndexSlice

### IndexSlice本质上是对多个Slice对象的包装

In [68]:
idx[1:9:2,'A':'C','start':'end':2]

(slice(1, 9, 2), slice('A', 'C', None), slice('start', 'end', 2))

### 2.3.1 索引Slice可以与loc一起完成切片操作，主要有两种用法
#### 2.3.1.1 loc[idx[\*,\*]]型
第一个星号表示行，第二个表示列，且使用布尔索引时，需要索引对齐

In [69]:
#例子1
df_s.loc[idx['B':,df_s.iloc[0]>0.6]]
#df_s.loc[idx['B':,df_s.iloc[:,0]>0.6]] #索引没有对齐报错

Big                 D
Small               f
Upper Lower
B     a      0.006313
      b      0.682967
      c      0.438649

In [70]:
#例子2
df_s.loc[idx[df_s.iloc[:,0]>0.6,:('E','f')]]

Big                 D                             E
Small               d         e         f         d         e         f
Upper Lower
A     c      0.976692  0.992853  0.679045  0.993711  0.768666  0.241913
B     a      0.668110  0.747240  0.006313  0.851428  0.769350  0.864411

#### 2.3.1.2 loc[idx[\*,\*],idx[\*,\*]]型
* 这里与上面的区别在于上面中的loc是没有逗号隔开的，但这里是用逗号隔开，前面一个idx表示行索引，后面一个idx为列索引
* 这种用法非常灵活，因此多举几个例子方便理解

In [71]:
#例子1
df_s.loc[idx['A'],idx['D':]]
#后面的层出现，则前面的层必须出现
#df_s.loc[idx['a'],idx['D':]] #报错

Big           D                             E                             F  \
Small         d         e         f         d         e         f         d
Lower
a      0.481615  0.066337  0.612521  0.496806  0.170635  0.313922  0.123945
b      0.423103  0.766020  0.874904  0.777403  0.467491  0.122896  0.688875
c      0.976692  0.992853  0.679045  0.993711  0.768666  0.241913  0.130953

Big
Small         e         f
Lower
a      0.521471  0.224466
b      0.142464  0.019028
c      0.897912  0.182568

In [72]:
#例子2
df_s.loc[idx[:'B','b':],:] #举这个例子是为了说明（1）可以在相应level使用切片（2）某一个idx可以用:代替表示全选

Big                 D                             E                      \
Small               d         e         f         d         e         f
Upper Lower
A     b      0.423103  0.766020  0.874904  0.777403  0.467491  0.122896
      c      0.976692  0.992853  0.679045  0.993711  0.768666  0.241913
B     b      0.333440  0.391835  0.682967  0.312125  0.968533  0.827066
      c      0.201805  0.081384  0.438649  0.616895  0.509728  0.683276

Big                 F
Small               d         e         f
Upper Lower
A     b      0.688875  0.142464  0.019028
      c      0.130953  0.897912  0.182568
B     b      0.462304  0.084384  0.859964
      c      0.303746  0.611885  0.498872

In [73]:
#例子3
df_s.iloc[:,0]>0.6

Upper  Lower
A      a        False
       b        False
       c         True
B      a         True
       b        False
       c        False
Name: (D, d), dtype: bool

In [74]:
df_s.loc[idx[:'B',df_s.iloc[:,0]>0.6],:] #这个例子表示相应位置还可以使用布尔索引

Big                 D                             E                      \
Small               d         e         f         d         e         f
Upper Lower
A     c      0.976692  0.992853  0.679045  0.993711  0.768666  0.241913
B     a      0.668110  0.747240  0.006313  0.851428  0.769350  0.864411

Big                 F
Small               d         e         f
Upper Lower
A     c      0.130953  0.897912  0.182568
B     a      0.678638  0.058836  0.315499

In [75]:
#例子4
#特别要注意，loc[idx[\*,\*],idx[\*,\*]]型中的布尔索引是可以索引不对齐的，只需要长度一样，比如下面这个例子
df_s.loc[idx[:'B',(df_s.iloc[0]>0.6)[:6]],:]

Big                 D                             E                      \
Small               d         e         f         d         e         f
Upper Lower
A     c      0.976692  0.992853  0.679045  0.993711  0.768666  0.241913

Big                 F
Small               d         e         f
Upper Lower
A     c      0.130953  0.897912  0.182568

In [76]:
#例子5
df_s.loc[idx[:'B','c':,(df_s.iloc[:,0]>0.6)],:]
#idx中层数k1大于df层数k2时，idx前k2个参数若相应位置是元素或者元素切片，则表示相应df层的元素筛选，同时也可以选择用同长度bool序列
#idx后面多出来的参数只能选择同bool序列，这样设计的目的是可以将元素筛选和条件筛选同时运用

Big                 D                             E                      \
Small               d         e         f         d         e         f
Upper Lower
A     c      0.976692  0.992853  0.679045  0.993711  0.768666  0.241913

Big                 F
Small               d         e         f
Upper Lower
A     c      0.130953  0.897912  0.182568

In [77]:
#例子6
df_s.loc[idx[:'B',(df_s.iloc[:,0]>0.6),(df_s.iloc[:,0]>0.6)],:] #这个就不是元素筛选而是条件筛选
#df_s.loc[idx[:'B',(df_s.iloc[:,0]>0.6),'c',:]] #报错
#df_s.loc[idx[:'c','B',(df_s.iloc[:,0]>0.6),:]] #报错

Big                 D                             E                      \
Small               d         e         f         d         e         f
Upper Lower
A     c      0.976692  0.992853  0.679045  0.993711  0.768666  0.241913
B     a      0.668110  0.747240  0.006313  0.851428  0.769350  0.864411

Big                 F
Small               d         e         f
Upper Lower
A     c      0.130953  0.897912  0.182568
B     a      0.678638  0.058836  0.315499

## 2.4. 索引层的交换
### 2.4.1 swaplevel方法（两层交换）

In [78]:
df_using_mul.head()

               School Gender  Height  Weight  Math Physics
Class Address
C_1   street_1    S_1      M     173      63  34.0      A+
      street_2    S_1      F     192      73  32.5      B+
      street_2    S_1      M     186      82  87.2      B+
      street_2    S_1      F     167      81  80.4      B-
      street_4    S_1      F     159      64  84.8      B+

In [79]:
df_using_mul.swaplevel(i=1,j=0,axis=0).sort_index().head()

               School Gender  Height  Weight  Math Physics
Address  Class
street_1 C_1      S_1      M     173      63  34.0      A+
         C_2      S_2      M     175      74  47.2      B-
         C_3      S_1      F     175      57  87.7      A-
street_2 C_1      S_1      F     192      73  32.5      B+
         C_1      S_1      M     186      82  87.2      B+

### 2.4.2 reorder_levels方法（多层交换）

In [80]:
df_muls = df.set_index(['School','Class','Address'])
df_muls.head()

                      Gender  Height  Weight  Math Physics
School Class Address
S_1    C_1   street_1      M     173      63  34.0      A+
             street_2      F     192      73  32.5      B+
             street_2      M     186      82  87.2      B+
             street_2      F     167      81  80.4      B-
             street_4      F     159      64  84.8      B+

In [81]:
df_muls.reorder_levels([2,0,1],axis=0).sort_index().head()

                      Gender  Height  Weight  Math Physics
Address  School Class
street_1 S_1    C_1        M     173      63  34.0      A+
                C_3        F     175      57  87.7      A-
         S_2    C_2        M     175      74  47.2      B-
street_2 S_1    C_1        F     192      73  32.5      B+
                C_1        M     186      82  87.2      B+

In [82]:
#如果索引有name，可以直接使用name
df_muls.reorder_levels(['Address','School','Class'],axis=0).sort_index().head()

                      Gender  Height  Weight  Math Physics
Address  School Class
street_1 S_1    C_1        M     173      63  34.0      A+
                C_3        F     175      57  87.7      A-
         S_2    C_2        M     175      74  47.2      B-
street_2 S_1    C_1        F     192      73  32.5      B+
                C_1        M     186      82  87.2      B+

# 三、索引设定
## 3.1 index_col参数
### 3.1.1 index_col是read_csv中的一个参数，而不是某一个方法：

In [83]:
pd.read_csv('data/table.csv',index_col=['Address','School']).head()

                Class    ID Gender  Height  Weight  Math Physics
Address  School
street_1 S_1      C_1  1101      M     173      63  34.0      A+
street_2 S_1      C_1  1102      F     192      73  32.5      B+
         S_1      C_1  1103      M     186      82  87.2      B+
         S_1      C_1  1104      F     167      81  80.4      B-
street_4 S_1      C_1  1105      F     159      64  84.8      B+

## 3.2 reindex和reindex_like
reindex是指重新索引，它的重要特性在于索引对齐，很多时候用于重新排序

In [84]:
df.head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

In [85]:
df.reindex(index=[1101,1203,1206,2402])

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1   173.0    63.0  34.0      A+
1203    S_1   C_2      M  street_6   160.0    53.0  58.8      A+
1206    NaN   NaN    NaN       NaN     NaN     NaN   NaN     NaN
2402    S_2   C_4      M  street_7   166.0    82.0  48.7       B

In [86]:
df.reindex(columns=['Height','Gender','Average']).head()

      Height Gender  Average
ID
1101     173      M      NaN
1102     192      F      NaN
1103     186      M      NaN
1104     167      F      NaN
1105     159      F      NaN

### 可以选择缺失值的填充方法：fill_value和method（bfill/ffill/nearest），其中method参数必须索引单调

In [87]:
df.reindex(index=[1101,1203,1206,2402],method='bfill')
#这里的单调是指df必须索引经过排序，否则报错
#bfill表示用所在索引1206的后一个有效行填充，ffill为前一个有效行，nearest是指最近的

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1203    S_1   C_2      M  street_6     160      53  58.8      A+
1206    S_1   C_3      M  street_4     161      68  31.5      B+
2402    S_2   C_4      M  street_7     166      82  48.7       B

In [88]:
df.reindex(index=[1101,1203,1206,2402],method='nearest')
#数值上1205比1301更接近1206，因此用前者填充

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1203    S_1   C_2      M  street_6     160      53  58.8      A+
1206    S_1   C_2      F  street_6     167      63  68.4      B-
2402    S_2   C_4      M  street_7     166      82  48.7       B

### reindex_like的作用为生成一个横纵索引完全与参数列表一致的DataFrame，数据使用被调用的表

In [89]:
df_temp = pd.DataFrame({'Weight':np.zeros(5),
                        'Height':np.zeros(5),
                        'ID':[1101,1104,1103,1106,1102]}).set_index('ID')
df_temp.reindex_like(df[0:5][['Weight','Height']])

      Weight  Height
ID
1101     0.0     0.0
1102     0.0     0.0
1103     0.0     0.0
1104     0.0     0.0
1105     NaN     NaN

#### 如果df_temp单调还可以使用method参数：

In [90]:
df_temp = pd.DataFrame({'Weight':range(5),
                        'Height':range(5),
                        'ID':[1101,1104,1103,1106,1102]}).set_index('ID').sort_index()
df_temp.reindex_like(df[0:5][['Weight','Height']],method='bfill')
#可以自行检验这里的1105的值是否是由bfill规则填充

      Weight  Height
ID
1101       0       0
1102       4       4
1103       2       2
1104       1       1
1105       3       3

## 3.3. set_index和reset_index
### 3.3.1 set_index：从字面意思看，就是将某些列作为索引

#### 3.3.1.1 使用表内列作为索引：

In [91]:
df.head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

In [92]:
df.set_index('Class').head()

      School Gender   Address  Height  Weight  Math Physics
Class
C_1      S_1      M  street_1     173      63  34.0      A+
C_1      S_1      F  street_2     192      73  32.5      B+
C_1      S_1      M  street_2     186      82  87.2      B+
C_1      S_1      F  street_2     167      81  80.4      B-
C_1      S_1      F  street_4     159      64  84.8      B+

#### 3.3.1.2 利用append参数可以将当前索引维持不变

In [93]:
df.set_index('Class',append=True).head()

           School Gender   Address  Height  Weight  Math Physics
ID   Class
1101 C_1      S_1      M  street_1     173      63  34.0      A+
1102 C_1      S_1      F  street_2     192      73  32.5      B+
1103 C_1      S_1      M  street_2     186      82  87.2      B+
1104 C_1      S_1      F  street_2     167      81  80.4      B-
1105 C_1      S_1      F  street_4     159      64  84.8      B+

#### 3.3.1.3 当使用与表长相同的列作为索引（需要先转化为Series，否则报错）：

In [94]:
df.set_index(pd.Series(range(df.shape[0]))).head()

  School Class Gender   Address  Height  Weight  Math Physics
0    S_1   C_1      M  street_1     173      63  34.0      A+
1    S_1   C_1      F  street_2     192      73  32.5      B+
2    S_1   C_1      M  street_2     186      82  87.2      B+
3    S_1   C_1      F  street_2     167      81  80.4      B-
4    S_1   C_1      F  street_4     159      64  84.8      B+

#### 3.3.1.4 可以直接添加多级索引：

In [95]:
df.set_index([pd.Series(range(df.shape[0])),pd.Series(np.ones(df.shape[0]))]).head()

      School Class Gender   Address  Height  Weight  Math Physics
0 1.0    S_1   C_1      M  street_1     173      63  34.0      A+
1 1.0    S_1   C_1      F  street_2     192      73  32.5      B+
2 1.0    S_1   C_1      M  street_2     186      82  87.2      B+
3 1.0    S_1   C_1      F  street_2     167      81  80.4      B-
4 1.0    S_1   C_1      F  street_4     159      64  84.8      B+

### 3.3.2 reset_index方法，它的主要功能是将索引重置
#### 3.3.2.1 默认状态直接恢复到自然数索引：

In [96]:
df.reset_index().head()

     ID School Class Gender   Address  Height  Weight  Math Physics
0  1101    S_1   C_1      M  street_1     173      63  34.0      A+
1  1102    S_1   C_1      F  street_2     192      73  32.5      B+
2  1103    S_1   C_1      M  street_2     186      82  87.2      B+
3  1104    S_1   C_1      F  street_2     167      81  80.4      B-
4  1105    S_1   C_1      F  street_4     159      64  84.8      B+

#### 3.3.2.2 用level参数指定哪一层被reset，用col_level参数指定set到哪一层：

In [97]:
L1,L2 = ['A','B','C'],['a','b','c']
mul_index1 = pd.MultiIndex.from_product([L1,L2],names=('Upper', 'Lower'))
L3,L4 = ['D','E','F'],['d','e','f']
mul_index2 = pd.MultiIndex.from_product([L3,L4],names=('Big', 'Small'))
df_temp = pd.DataFrame(np.random.rand(9,9),index=mul_index1,columns=mul_index2)
df_temp.head()

Big                 D                             E                      \
Small               d         e         f         d         e         f
Upper Lower
A     a      0.155169  0.928454  0.111694  0.611897  0.809286  0.104764
      b      0.428815  0.865397  0.062177  0.157647  0.788562  0.448264
      c      0.638895  0.160121  0.253496  0.806406  0.823644  0.666344
B     a      0.731386  0.021787  0.194566  0.361321  0.663231  0.918904
      b      0.717433  0.634780  0.566621  0.449492  0.674909  0.275615

Big                 F
Small               d         e         f
Upper Lower
A     a      0.805494  0.657463  0.226936
      b      0.292929  0.822218  0.664445
      c      0.556058  0.880700  0.700683
B     a      0.184364  0.406647  0.938517
      b      0.575472  0.470114  0.988462

In [98]:
df_temp1 = df_temp.reset_index(level=1,col_level=1)
df_temp1.head()

Big                 D                             E                      \
Small Lower         d         e         f         d         e         f
Upper
A         a  0.155169  0.928454  0.111694  0.611897  0.809286  0.104764
A         b  0.428815  0.865397  0.062177  0.157647  0.788562  0.448264
A         c  0.638895  0.160121  0.253496  0.806406  0.823644  0.666344
B         a  0.731386  0.021787  0.194566  0.361321  0.663231  0.918904
B         b  0.717433  0.634780  0.566621  0.449492  0.674909  0.275615

Big           F
Small         d         e         f
Upper
A      0.805494  0.657463  0.226936
A      0.292929  0.822218  0.664445
A      0.556058  0.880700  0.700683
B      0.184364  0.406647  0.938517
B      0.575472  0.470114  0.988462

In [99]:
df_temp1.columns
#看到的确插入了level2

MultiIndex([( '', 'Lower'),
            ('D',     'd'),
            ('D',     'e'),
            ('D',     'f'),
            ('E',     'd'),
            ('E',     'e'),
            ('E',     'f'),
            ('F',     'd'),
            ('F',     'e'),
            ('F',     'f')],
           names=['Big', 'Small'])

In [100]:
df_temp1.index
#最内层索引被移出

Index(['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C'], dtype='object', name='Upper')

## 3.4. rename_axis和rename
### 3.4.1 rename_axis是针对多级索引的方法，作用是修改某一层的索引名，而不是索引标签

In [101]:
df_temp.rename_axis(index={'Lower':'LowerLower'},columns={'Big':'BigBig'})

BigBig                   D                             E                      \
Small                    d         e         f         d         e         f
Upper LowerLower
A     a           0.155169  0.928454  0.111694  0.611897  0.809286  0.104764
      b           0.428815  0.865397  0.062177  0.157647  0.788562  0.448264
      c           0.638895  0.160121  0.253496  0.806406  0.823644  0.666344
B     a           0.731386  0.021787  0.194566  0.361321  0.663231  0.918904
      b           0.717433  0.634780  0.566621  0.449492  0.674909  0.275615
      c           0.265503  0.802058  0.133690  0.442821  0.925366  0.805138
C     a           0.666617  0.054462  0.780658  0.191979  0.983754  0.934848
      b           0.214696  0.571703  0.867681  0.997084  0.708003  0.091064
      c           0.335716  0.326930  0.003679  0.960601  0.359791  0.425822

BigBig                   F
Small                    d         e         f
Upper LowerLower
A     a           0.805494  0.657463  0.226936
      b           0.292929  0.822218  0.664445
      c           0.556058  0.880700  0.700683
B     a           0.184364  0.406647  0.938517
      b           0.575472  0.470114  0.988462
      c           0.381604  0.253659  0.516597
C     a           0.867784  0.312212  0.904076
      b           0.922655  0.162586  0.546480
      c           0.622608  0.560542  0.954866

### 3.4.2 rename方法用于修改列或者行索引标签，而不是索引名：

In [102]:
df_temp.rename(index={'A':'T'},columns={'e':'changed_e'}).head()

Big                 D                             E                      \
Small               d changed_e         f         d changed_e         f
Upper Lower
T     a      0.155169  0.928454  0.111694  0.611897  0.809286  0.104764
      b      0.428815  0.865397  0.062177  0.157647  0.788562  0.448264
      c      0.638895  0.160121  0.253496  0.806406  0.823644  0.666344
B     a      0.731386  0.021787  0.194566  0.361321  0.663231  0.918904
      b      0.717433  0.634780  0.566621  0.449492  0.674909  0.275615

Big                 F
Small               d changed_e         f
Upper Lower
T     a      0.805494  0.657463  0.226936
      b      0.292929  0.822218  0.664445
      c      0.556058  0.880700  0.700683
B     a      0.184364  0.406647  0.938517
      b      0.575472  0.470114  0.988462

# 四、常用索引型函数
## 4.1. where函数
### 4.1.1 当对条件为False的单元进行填充：

In [103]:
df.head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

In [104]:
df.where(df['Gender']=='M').head()
#不满足条件的行全部被设置为NaN

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1   173.0    63.0  34.0      A+
1102    NaN   NaN    NaN       NaN     NaN     NaN   NaN     NaN
1103    S_1   C_1      M  street_2   186.0    82.0  87.2      B+
1104    NaN   NaN    NaN       NaN     NaN     NaN   NaN     NaN
1105    NaN   NaN    NaN       NaN     NaN     NaN   NaN     NaN

#### 通过这种方法筛选结果和[]操作符的结果完全一致：

In [105]:
df.where(df['Gender']=='M').dropna().head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1   173.0    63.0  34.0      A+
1103    S_1   C_1      M  street_2   186.0    82.0  87.2      B+
1201    S_1   C_2      M  street_5   188.0    68.0  97.0      A-
1203    S_1   C_2      M  street_6   160.0    53.0  58.8      A+
1301    S_1   C_3      M  street_4   161.0    68.0  31.5      B+

#### 第一个参数为布尔条件，第二个参数为填充值：