# 第1章 Pandas基础

* [1. 文件读取与写入](#1)
* [1.1.2](#1.1.2)

- faf
- jkajl
- jkljl


<a id='1.1.2'>jkkjl</a>

In [1]:
import pandas as pd
import numpy as np

#### 查看Pandas版本

In [2]:
pd.__version__

'1.0.3'

## <a id='1'>一、文件读取与写入</a>
### 1.1. 读取
#### 1.1.1. csv格式

In [3]:
df = pd.read_csv('data/table.csv')
df.head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

#### <a id='1.1.2'>1.1.2. txt格式</a>

In [19]:
df_txt = pd.read_table('data/table.txt', sep='\t') #可设置sep分隔符参数
df_txt

   col1 col2  col3    col4
0     2    a   1.4   apple
1     3    b   3.4  banana
2     6    c   2.5  orange
3     5    d   3.2   lemon

#### 1.1.3. xls或xlsx格式

In [6]:
#需要安装xlrd包
df_excel = pd.read_excel('data/table.xlsx')
df_excel.head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

### 1.2. 写入

#### 1.2.1 csv格式

In [16]:
# df.to_csv('data/new_table.csv')
df.to_csv('data/new_table.csv', index=False) #保存时除去行索引

#### 1.2.2. xls或xlsx格式

In [21]:
#需要安装openpyxl
df.to_excel('data/new_table2.xlsx', sheet_name='Sheet1')

## 二、基本数据结构
### 2.1. Series
#### 2.1.1 创建一个Series

#### 对于一个Series，其中最常用的属性为值（values），索引（index），名字（name），类型（dtype）

In [22]:
s = pd.Series(np.random.randn(5),index=['a','b','c','d','e'],name='这是一个Series',dtype='float64')
s

a    2.079680
b   -1.369035
c    0.329127
d   -0.759320
e   -1.668336
Name: 这是一个Series, dtype: float64

#### 2.1.2 访问Series属性

In [23]:
s.values

array([ 2.07967989, -1.36903459,  0.32912729, -0.75931963, -1.66833594])

In [24]:
s.name

'这是一个Series'

In [25]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [26]:
s.dtype

dtype('float64')

#### 2.1.3 取出某一个元素
#### 将在第2章详细讨论索引的应用，这里先大致了解

In [28]:
s['a']

2.079679893861618

In [30]:
s[0]

2.079679893861618

In [33]:
s.a

2.079679893861618

#### 2.1.4 调用方法

In [31]:
s.mean()

-0.27757659586478317

#### Series有相当多的方法可以调用：

In [32]:
print([attr for attr in dir(s) if not attr.startswith('_')])

['T', 'a', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'b', 'between', 'between_time', 'bfill', 'bool', 'c', 'clip', 'combine', 'combine_first', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'd', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'e', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'iteritems', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'std', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

### 2.2. DataFrame
#### 2.2.1. 创建一个DataFrame

In [34]:
df = pd.DataFrame({'col1':list('abcde'),'col2':range(5,10),'col3':[1.3,2.5,3.6,4.6,5.8]},
                 index=list('一二三四五'))
df

  col1  col2  col3
一    a     5   1.3
二    b     6   2.5
三    c     7   3.6
四    d     8   4.6
五    e     9   5.8

#### 2.2.2. 从DataFrame取出一列为Series

In [36]:
df['col1']

一    a
二    b
三    c
四    d
五    e
Name: col1, dtype: object

In [37]:
type(df)

pandas.core.frame.DataFrame

In [38]:
type(df['col1'])

pandas.core.series.Series

#### 2.2.3 修改行或列名

In [39]:
df.rename(index={'一':'one'},columns={'col1':'new_col1'})

    new_col1  col2  col3
one        a     5   1.3
二          b     6   2.5
三          c     7   3.6
四          d     8   4.6
五          e     9   5.8

In [40]:
# 返回的为修改值，不修改其本身
df

  col1  col2  col3
一    a     5   1.3
二    b     6   2.5
三    c     7   3.6
四    d     8   4.6
五    e     9   5.8

#### 2.2.4 调用属性和方法

In [41]:
df.index

Index(['一', '二', '三', '四', '五'], dtype='object')

In [42]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [43]:
df.values

array([['a', 5, 1.3],
       ['b', 6, 2.5],
       ['c', 7, 3.6],
       ['d', 8, 4.6],
       ['e', 9, 5.8]], dtype=object)

In [44]:
df.shape

(5, 3)

In [45]:
df.mean() #本质上是一种Aggregation(聚合)操作，将在第3章详细介绍

col2    7.00
col3    3.56
dtype: float64

#### （e）索引对齐特性
#### 这是Pandas中非常强大的特性，不理解这一特性有时就会造成一些麻烦

In [ ]:
df1 = pd.DataFrame({'A':[1,2,3]},index=[1,2,3])
df2 = pd.DataFrame({'A':[1,2,3]},index=[3,1,2])
df1-df2 #由于索引对齐，因此结果不是0